/* styling for the body */
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* styling for the habits and its container */
.habitsContainer {
  width: 100%;
  height: 90%;
  background-color: rgb(67, 96, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10%;
  background-color: rgb(78, 78, 222);
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.title {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  width: 25%;
}

.block {
  width: 25%;
}

.button {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.dltbtn {
  background-color: red;
  border: 1px solid white;
  color: white;
  border-radius: 0.3rem;
  font-size: medium;
  font-weight: bold;
}

.addbtnSpace {
  width: 100vw;
  background-color: rgb(67, 96, 153);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addbtn {
  background-color: rgb(13, 243, 13);
  border: 1px solid white;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
}
