/* styling for the body */
.statusContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for the weekly status of all the habits */
.weekStatus {
  width: 100%;
  height: 90%;
  background-color: rgb(67, 96, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for week status of habit */
.habit {
  width: 75%;
  height: 20%;
  background-color: rgb(78, 78, 222);
  border: 2px solid white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

/* divided the habit into two parts for title and dates */
.topContainer {
  width: 100%;
  height: 40%;
  display: flex;
}

.title {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  font-size: large;
}

.dltbtnSpace {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.dltbtn {
  background-color: red;
  border: 1px solid white;
  color: white;
  border-radius: 0.3rem;
  font-size: medium;
  font-weight: bold;
}

.bottomContainer {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekdays {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.days {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dates {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.statusDate {
  width: 30%;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.done {
  background-color: green;
}

.not-done {
  background-color: red;
}

.addbtnSpace {
  width: 100vw;
  background-color: rgb(67, 96, 153);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addbtn {
  background-color: rgb(13, 243, 13);
  border: 1px solid white;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
}
